{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    {% if data %}
        <a class="card card--event" href="{{ data.link }}">
            <div class="card__image overflow-hidden">
                <div class="scale-[1.2]">
                    <div parallax>
                        {{ image.default(data.thumbnail, {aspect_ratio: 'aspect-[9/10]'}) }}
                    </div>
                </div>
                <span class="card__status">Complet</span>
            </div>
            <div class="card__informations">
                <div class="card__sub-informations">
                    <div class="card__taxonomies">
                        <span>Visit</span>
                    </div>
                    <div class="card__date">Ven. 12 mai</div>
                </div>
                <div>
                    <div class="card__title">{{ data.title }}</div>
                    <div class="card__description">Hisma Neom Desert</div>
                </div>
            </div>
        </a>
    {% endif %}
{% endmacro %}
