{% extends "app-content.twig" %}

{% import "@components/image.twig" as image %}
{% import "@acf-components/hero.twig" as hero %}
{% import "@components/flex-content.twig" as flex_content %}

{% set data = function('get_fields') %}

{% block app_content %}
    <div class="relative flex flex-col gap h-screen overflow-hidden">
        <div class="container">
            <div class="flex flex-col justify-between h-screen pt-120 pb-l">
                <div class="grid grid-cols-6 d:grid-cols-12 gap">
                    <div class="col-span-6 d:col-span-8 text-left">
                        <div class='ts-h1 lg:ts-big'>Developer Web</div>
                    </div>
                </div>
                <div class="grid grid-cols-6 d:grid-cols-12 d:items-end gap">
                    <div class="col-span-4 d:col-span-3 d:col-start-2">
                        {% if data.hero.text %}
                            <div class="ts-h4 split animation--text" show-element show-delay="300">{{ data.hero.text }}</div>
                        {% endif %}
                    </div>

                    <div class="col-span-6 d:col-span-8 d:col-start-5 text-right">
                        <div class='ts-h1 lg:ts-big'>Benoit Matthias</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
