{% extends "app-content.twig" %}

{% import "@components/image.twig" as image %}
{% import "@acf-components/hero.twig" as hero %}
{% import "@components/flex-content.twig" as flex_content %}

{% set data = function('get_fields') %}

{% block app_content %}
    <div class="relative flex flex-col gap h-screen overflow-hidden">
        {{ hero.default(data.hero) }}
        
        <div class="carousel-container">
            <div class="carousel-projects">
                {% for project in projects %}
                    {% set fields = function('get_fields', project) %}
                    <a href="{{ fn('get_permalink', project) }}" class="carousel-projects__item">
                        <div class="carousel-projects__image">
                            {{ image.default(fields.image, {'aspect_ratio':'aspect-[157/220]'}) }}
                        </div>
                        <div class="ts-mini mt-s">[{{project.post_title}}]</div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="container mb-l mt-auto flex flex-col lg:flex-row items-center justify-between">
            <div class='ts-h1 lg:ts-big'>Developer</div>
            <div class='ts-h1 lg:ts-big'>Web</div>
        </div>
    </div>
{% endblock %}
