{% extends "app-content.twig" %}

{% import "@acf-components/hero.twig" as hero %}
{% import "@components/flex-content.twig" as flex_content %}

{% set data = function('get_fields') %}

{% block app_content %}
    <div class="flex flex-col gap">
        {{ hero.default(data.hero) }}

        <div class="container flex flex-col lg:flex-row items-center justify-between">
            <div class='ts-h1 lg:ts-big'>Developer</div>
            <div class='ts-h1 lg:ts-big'>Web</div>
        </div>
    </div>
{% endblock %}
