{% macro default(data) %}
    {% import "@components/image.twig" as image %}

    <div class="component--hero" show-elements>
        <div class="container mt-100">
            <div class="grid grid-cols-6 d:grid-cols-12 gap">
                <div class="col-span-6 d:col-span-4">
                    {% if data.text %}
                        <div class="ts-h4 split animation--text" show-element show-delay="300">{{ data.text }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
