$data: (
  breakpoints: (
    s: 0,
    m: 768,
    l: 1024,
    xl: 1280,
    xxl: 1440
  ),
  gutters: (
    s: 2,
    l: 2,
    xl: 2
  ),
  margins: (
    s: 2,
    l: 2,
    xl: 4
  ),
  breakpointDesktop: l,
  rem: (
    s: 10px,
    xxl: scale
  ),
  colors: (
    dark: #0D0000,
    light: F0F2F1,
    primary: #0D0000,
    secondary: #F0F2F1
  ),
  fonts: (
    default: (
      name: Inter,
      serif: sans-serif
    ),
    heading: (
      name: PP Mori,
      serif: sans-serif
    )
  ),
  textStyles: (
    h1: (
      font-size: 6.4rem,
      line-height: 6.4rem,
      font-weight: 400,
      text-transform: uppercase
    ),
    h2: (
      font-size: 4.2rem,
      line-height: 3.8rem,
      font-weight: 900,
      text-transform: uppercase
    ),
    h3: (
      font-size: 2.8rem,
      line-height: 2.8rem,
      font-weight: 900,
      text-transform: uppercase
    ),
    h4: (
      font-size: 2rem,
      line-height: 2rem
    ),
    body: (
      font-size: 2.4rem,
      line-height: 1,
      font-weight: 400
    ),
    label: (
      font-size: 1.6rem,
      line-height: 1.6rem,
      font-weight: 400,
      text-transform: uppercase
    ),
    big: (
      font-size: 15.4rem,
      line-height: 12.8rem,
      font-weight: 700,
      text-transform: uppercase
    ),
    mini: (
      font-size: 1.4rem,
      line-height: 1.4rem,
      font-weight: 400
    ),
    logo: (
      font-size: 3.2rem,
      line-height: 2.6rem,
      font-weight: 700
    ),
    desktop: (
      h1: (
        font-size: 6.4rem,
        line-height: 6.4rem,
        font-weight: 900
      ),
      h2: (
        font-size: 7.2rem,
        line-height: 6.8rem,
        font-weight: 900
      ),
      h3: (
        font-size: 4rem,
        line-height: 4rem,
        font-weight: 900
      )
    )
  ),
  spacings: (
    s: 0.5,
    m: 1,
    l: 2,
    xl: 4,
    xxl: 8,
    xxxl: 16,
    huge: 32,
    desktop: (
      s: 0.5,
      m: 1,
      l: 2,
      xl: 4,
      xxl: 8,
      xxxl: 16,
      huge: 32
    )
  ),
  maxColumns: (
    s: 6,
    m: 6,
    l: 12
  ),
  radius: 0.8,
  lists: (
    default: (
      s: 1,
      m: 3,
      l: 3,
      xl: 4,
      xxl: 4
    ),
    event: (
      s: 1,
      m: 3,
      l: 3,
      xl: 3,
      xxl: 3
    )
  ),
  animations: (
    default: (
      duration: 900,
      timing: ease
    ),
    secondary: (
      duration: 500,
      timing: ease
    )
  )
);
