.carousel-container {
    position: relative;
    display: flex;
    justify-content: end;
    height: 32rem;
    overflow: hidden;
}
.carousel-projects {
    display: flex;
    gap: 2rem;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}
.carousel-projects__item {
    .carousel-projects__image {
        @apply w-157 h-220;
        transition: width 0.3s, height 0.3s;
    }
}
.carousel-projects__item.current {
    .carousel-projects__image {
        @apply w-235 h-329;
    }
}